<% @recipes.each do |recipe| %>
  <div>
    <h2>Title: <a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h2>
    <h3><%= recipe.chef %></h3>
    <h4>Ingredients: <%= recipe.ingredients %></h4>
    <h4>Directions: <%= recipe.directions %></h4>
    <br>
  </div> 
<% end %>
