<h2><a href="/recipes/new">Create new recipe?</a></h2>
<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4 col-sm-6 product-index-single">
      <div class="well">
        <h2>Title: <a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h2>
        <h3><%= recipe.chef %></h3>
        <img src=<%="recipe.image_url" %> alt="">
        <h4>Ingredients: <%= recipe.ingredients %></h4>
        <h4>Directions: <%= recipe.directions %></h4>
      </div>

    </div>
  <% end %>
</div>