<h1>Recipe Info</h1>
<h2>Title: <%= @recipe.title %></h2>
<h3><%= @recipe.chef %></h3>
<h4>Ingredients: <%= @recipe.ingredients %></h4>
<h4>Directions: <%= @recipe.directions %></h4>

<a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning">Edit</a>
<%= form_tag "/recipes/#{@recipe.id}", method: :delete do %>
  <input type="submit" value="delete recipe" class="btn btn-danger">
<% end %>

<a href="/recipes/<%= @recipe.id %>" data-method="delete">Delete Recipe</a>
<%= link_to "Delete Recipe", "/recipe/#{@recipe.id}", method: :delete %>